rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && firestore.get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isOwner(incidentId) {
      return request.auth != null
        && firestore.get(/databases/$(database)/documents/incidents/$(incidentId)).data.submittedBy
          == request.auth.uid;
    }

    match /incidents/{incidentId}/{allPaths=**} {
      allow write: if isOwner(incidentId) || isAdmin();
      allow read: if isOwner(incidentId) || isAdmin();
    }
  }
}
